.mde-preview {
  /*light*/
  /*
  color-scheme: light;

  --color-syntax-comment: #57606a;
  --color-syntax-constant: #0550ae;
  --color-syntax-entity: #6639ba;
  --color-syntax-storage-modifier-import: #24292f;
  --color-syntax-entity-tag: #116329;
  --color-syntax-keyword: #cf222e;
  --color-syntax-string: #0a3069;
  --color-syntax-variable: #953800;
  --color-syntax-brackethighlighter-unmatched: #82071e;
  --color-syntax-invalid-illegal-text: #f6f8fa;
  --color-syntax-invalid-illegal-bg: #82071e;
  --color-syntax-carriage-return-text: #f6f8fa;
  --color-syntax-carriage-return-bg: #cf222e;
  --color-syntax-string-regexp: #116329;
  --color-syntax-markup-list: #3b2300;
  --color-syntax-markup-heading: #0550ae;
  --color-syntax-markup-italic: #24292f;
  --color-syntax-markup-bold: #24292f;
  --color-syntax-markup-deleted-text: #82071e;
  --color-syntax-markup-deleted-bg: #ffebe9;
  --color-syntax-markup-inserted-text: #116329;
  --color-syntax-markup-inserted-bg: #dafbe1;
  --color-syntax-markup-changed-text: #953800;
  --color-syntax-markup-changed-bg: #ffd8b5;
  --color-syntax-markup-ignored-text: #eaeef2;
  --color-syntax-markup-ignored-bg: #0550ae;
  --color-syntax-meta-diff-range: #8250df;
  --color-syntax-brackethighlighter-angle: #57606a;
  --color-syntax-sublimelinter-gutter-mark: #8c959f;
  --color-syntax-constant-other-reference-link: #0a3069;

  --color-fg-default: #1f2328;
  --color-fg-muted: #656d76;
  --color-fg-subtle: #6e7781;
  --color-canvas-subtle: #f6f8fa;
  --color-border-default: #d0d7de;
  --color-border-muted: hsla(210, 18%, 87%, 1);
  --color-neutral-muted: rgba(175, 184, 193, 0.2);
  --color-accent-fg: var(--primary-color, #0969da);
  --color-accent-emphasis: #0969da;
  --color-success-fg: #1a7f37;
  --color-success-emphasis: #1f883d;
  --color-attention-fg: #9a6700;
  --color-attention-emphasis: #9a6700;
  --color-attention-subtle: #fff8c5;
  --color-danger-fg: #d1242f;
  --color-danger-emphasis: #cf222e;
  --color-done-fg: #8250df;
  --color-done-emphasis: #8250df;

  --gfm-alert-note: var(--blue, hsl(var(--hsl-blue-500)));
  --gfm-alert-tip: var(--green, hsl(var(--hsl-green-500)));
  --gfm-alert-important: var(--purple, hsl(var(--hsl-purple-500)));
  --gfm-alert-warning: var(--orange, hsl(var(--hsl-orange-500)));
  --gfm-alert-caution: var(--red, hsl(var(--hsl-red-500)));
  */
}

body[class*='dark-ui'] {
  .mde-preview {
    /*dark*/

    /*
    color-scheme: dark;

    --color-syntax-comment: #8b949e;
    --color-syntax-constant: #79c0ff;
    --color-syntax-entity: #d2a8ff;
    --color-syntax-storage-modifier-import: #c9d1d9;
    --color-syntax-entity-tag: #7ee787;
    --color-syntax-keyword: #ff7b72;
    --color-syntax-string: #a5d6ff;
    --color-syntax-variable: #ffa657;
    --color-syntax-brackethighlighter-unmatched: #f85149;
    --color-syntax-invalid-illegal-text: #f0f6fc;
    --color-syntax-invalid-illegal-bg: #8e1519;
    --color-syntax-carriage-return-text: #f0f6fc;
    --color-syntax-carriage-return-bg: #b62324;
    --color-syntax-string-regexp: #7ee787;
    --color-syntax-markup-list: #f2cc60;
    --color-syntax-markup-heading: #1f6feb;
    --color-syntax-markup-italic: #c9d1d9;
    --color-syntax-markup-bold: #c9d1d9;
    --color-syntax-markup-deleted-text: #ffdcd7;
    --color-syntax-markup-deleted-bg: #67060c;
    --color-syntax-markup-inserted-text: #aff5b4;
    --color-syntax-markup-inserted-bg: #033a16;
    --color-syntax-markup-changed-text: #ffdfb6;
    --color-syntax-markup-changed-bg: #5a1e02;
    --color-syntax-markup-ignored-text: #c9d1d9;
    --color-syntax-markup-ignored-bg: #1158c7;
    --color-syntax-meta-diff-range: #d2a8ff;
    --color-syntax-brackethighlighter-angle: #8b949e;
    --color-syntax-sublimelinter-gutter-mark: #484f58;
    --color-syntax-constant-other-reference-link: #a5d6ff;

    --color-fg-default: #e6edf3;
    --color-fg-muted: #848d97;
    --color-fg-subtle: #6e7681;
    --color-canvas-subtle: rgba(0, 0, 0, 0.1);
    --color-border-default: #30363d;
    --color-border-muted: #21262d;
    --color-neutral-muted: rgba(110, 118, 129, 0.4);
    --color-accent-fg: var(--primary-color, #2f81f7);
    --color-accent-emphasis: #1f6feb;
    --color-success-fg: #3fb950;
    --color-success-emphasis: #238636;
    --color-attention-fg: #d29922;
    --color-attention-emphasis: #9e6a03;
    --color-attention-subtle: rgba(187, 128, 9, 0.15);
    --color-danger-fg: #f85149;
    --color-danger-emphasis: #da3633;
    --color-done-fg: #a371f7;
    --color-done-emphasis: #8957e5;
    */
  }
}
