.mde-preview {
  /*light*/
  color-scheme: light;
  --color-syntax-markup-header: hsl(var(--hsl-blue-500));
  --color-syntax-markup-quote: hsl(var(--hsl-green-600));
  --color-syntax-markup-negative: hsl(var(--hsl-red-700));
  --color-syntax-markup-positive: hsl(var(--hsl-green-700));
  --color-syntax-markup-keyword: hsl(var(--hsl-red-600));
  --color-syntax-markup-atom: hsl(var(--hsl-purple-600));
  --color-syntax-markup-number: hsl(var(--hsl-yellow-800));
  --color-syntax-markup-definition: hsl(var(--hsl-sky-800));
  --color-syntax-markup-property: hsl(var(--hsl-sky-800));
  --color-syntax-markup-operator: hsl(var(--hsl-purple-700));
  --color-syntax-markup-variable-2: hsl(var(--hsl-blue-700));
  --color-syntax-markup-variable-3: hsl(var(--hsl-green-700));
  --color-syntax-markup-comment: hsl(var(--hsl-gray-600));
  --color-syntax-markup-string: hsl(var(--hsl-blue-800));
  --color-syntax-markup-string-2: hsl(var(--hsl-orange-700));
  --color-syntax-markup-meta: hsl(var(--hsl-gray-700));
  --color-syntax-markup-qualifier: hsl(var(--hsl-gray-700));
  --color-syntax-markup-builtin: hsl(var(--hsl-violet-700));
  --color-syntax-markup-bracket: hsl(var(--hsl-stone-500));
  --color-syntax-markup-tag: hsl(var(--hsl-green-800));
  --color-syntax-markup-attribute: hsl(var(--hsl-blue-800));
  --color-syntax-markup-hr: hsl(var(--hsl-stone-500));
  --color-syntax-markup-link: hsl(var(--hsl-blue-800));
  --color-syntax-markup-error: hsl(var(--hsl-red-600));

  --color-fg-default: #1f2328;
  --color-fg-muted: #656d76;
  --color-fg-subtle: #6e7781;
  --color-canvas-subtle: #f6f8fa;
  --color-border-default: #d0d7de;
  --color-border-muted: hsla(210, 18%, 87%, 1);
  --color-neutral-muted: rgba(175, 184, 193, 0.2);
  --color-accent-fg: var(--primary-color, #0969da);
  --color-accent-emphasis: #0969da;
  --color-success-fg: #1a7f37;
  --color-success-emphasis: #1f883d;
  --color-attention-fg: #9a6700;
  --color-attention-emphasis: #9a6700;
  --color-attention-subtle: #fff8c5;
  --color-danger-fg: #d1242f;
  --color-danger-emphasis: #cf222e;
  --color-done-fg: #8250df;
  --color-done-emphasis: #8250df;

  --gfm-alert-note: var(--blue, hsl(var(--hsl-blue-500)));
  --gfm-alert-tip: var(--green, hsl(var(--hsl-green-500)));
  --gfm-alert-important: var(--purple, hsl(var(--hsl-purple-500)));
  --gfm-alert-warning: var(--orange, hsl(var(--hsl-orange-500)));
  --gfm-alert-caution: var(--red, hsl(var(--hsl-red-500)));
}

body[class*='dark-ui'] {
  .mde-preview {
    /*dark*/
    color-scheme: dark;
    --color-syntax-markup-header: hsl(var(--hsl-blue-700));
    --color-syntax-markup-quote: hsl(var(--hsl-green-400));
    --color-syntax-markup-negative: hsl(var(--hsl-red-700));
    --color-syntax-markup-positive: hsl(var(--hsl-green-600));
    --color-syntax-markup-keyword: hsl(var(--hsl-red-400));
    --color-syntax-markup-atom: hsl(var(--hsl-purple-400));
    --color-syntax-markup-number: hsl(var(--hsl-yellow-300));
    --color-syntax-markup-definition: hsl(var(--hsl-sky-300));
    --color-syntax-markup-property: hsl(var(--hsl-sky-300));
    --color-syntax-markup-operator: hsl(var(--hsl-purple-400));
    --color-syntax-markup-variable-2: hsl(var(--hsl-blue-400));
    --color-syntax-markup-variable-3: hsl(var(--hsl-green-400));
    --color-syntax-markup-comment: hsl(var(--hsl-gray-500));
    --color-syntax-markup-string: hsl(var(--hsl-blue-300));
    --color-syntax-markup-string-2: hsl(var(--hsl-orange-300));
    --color-syntax-markup-meta: hsl(var(--hsl-gray-500));
    --color-syntax-markup-qualifier: hsl(var(--hsl-gray-500));
    --color-syntax-markup-builtin: hsl(var(--hsl-violet-400));
    --color-syntax-markup-bracket: hsl(var(--hsl-stone-400));
    --color-syntax-markup-tag: hsl(var(--hsl-green-400));
    --color-syntax-markup-attribute: hsl(var(--hsl-blue-400));
    --color-syntax-markup-hr: hsl(var(--hsl-stone-300));
    --color-syntax-markup-link: hsl(var(--hsl-blue-400));
    --color-syntax-markup-error: hsl(var(--hsl-red-500));

    --color-fg-default: #e6edf3;
    --color-fg-muted: #848d97;
    --color-fg-subtle: #6e7681;
    --color-canvas-subtle: rgba(0, 0, 0, 0.1);
    --color-border-default: #30363d;
    --color-border-muted: #21262d;
    --color-neutral-muted: rgba(110, 118, 129, 0.4);
    --color-accent-fg: var(--primary-color, #2f81f7);
    --color-accent-emphasis: #1f6feb;
    --color-success-fg: #3fb950;
    --color-success-emphasis: #238636;
    --color-attention-fg: #d29922;
    --color-attention-emphasis: #9e6a03;
    --color-attention-subtle: rgba(187, 128, 9, 0.15);
    --color-danger-fg: #f85149;
    --color-danger-emphasis: #da3633;
    --color-done-fg: #a371f7;
    --color-done-emphasis: #8957e5;
  }
}
