@font-face {
  font-family: octicons-anchor;
  src: url(data:font/woff;charset=utf-8;base64,d09GRgABAAAAAAYcAA0AAAAACjQAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAABMAAAABwAAAAca8vGTk9TLzIAAAFMAAAARAAAAFZG1VHVY21hcAAAAZAAAAA+AAABQgAP9AdjdnQgAAAB0AAAAAQAAAAEACICiGdhc3AAAAHUAAAACAAAAAj//wADZ2x5ZgAAAdwAAADRAAABEKyikaNoZWFkAAACsAAAAC0AAAA2AtXoA2hoZWEAAALgAAAAHAAAACQHngNFaG10eAAAAvwAAAAQAAAAEAwAACJsb2NhAAADDAAAAAoAAAAKALIAVG1heHAAAAMYAAAAHwAAACABEAB2bmFtZQAAAzgAAALBAAAFu3I9x/Nwb3N0AAAF/AAAAB0AAAAvaoFvbwAAAAEAAAAAzBdyYwAAAADP2IQvAAAAAM/bz7t4nGNgZGFgnMDAysDB1Ml0hoGBoR9CM75mMGLkYGBgYmBlZsAKAtJcUxgcPsR8iGF2+O/AEMPsznAYKMwIkgMA5REMOXicY2BgYGaAYBkGRgYQsAHyGMF8FgYFIM0ChED+h5j//yEk/3KoSgZGNgYYk4GRCUgwMaACRoZhDwCs7QgGAAAAIgKIAAAAAf//AAJ4nHWMMQrCQBBF/0zWrCCIKUQsTDCL2EXMohYGSSmorScInsRGL2DOYJe0Ntp7BK+gJ1BxF1stZvjz/v8DRghQzEc4kIgKwiAppcA9LtzKLSkdNhKFY3HF4lK69ExKslx7Xa+vPRVS43G98vG1DnkDMIBUgFN0MDXflU8tbaZOUkXUH0+U27RoRpOIyCKjbMCVejwypzJJG4jIwb43rfl6wbwanocrJm9XFYfskuVC5K/TPyczNU7b84CXcbxks1Un6H6tLH9vf2LRnn8Ax7A5WQAAAHicY2BkYGAA4teL1+yI57f5ysDNwgAC529f0kOmWRiYVgEpDgYmEA8AUzEKsQAAAHicY2BkYGB2+O/AEMPCAAJAkpEBFbAAADgKAe0EAAAiAAAAAAQAAAAEAAAAAAAAKgAqACoAiAAAeJxjYGRgYGBhsGFgYgABEMkFhAwM/xn0QAIAD6YBhwB4nI1Ty07cMBS9QwKlQapQW3VXySvEqDCZGbGaHULiIQ1FKgjWMxknMfLEke2A+IJu+wntrt/QbVf9gG75jK577Lg8K1qQPCfnnnt8fX1NRC/pmjrk/zprC+8D7tBy9DHgBXoWfQ44Av8t4Bj4Z8CLtBL9CniJluPXASf0Lm4CXqFX8Q84dOLnMB17N4c7tBo1AS/Qi+hTwBH4rwHHwN8DXqQ30XXAS7QaLwSc0Gn8NuAVWou/gFmnjLrEaEh9GmDdDGgL3B4JsrRPDU2hTOiMSuJUIdKQQayiAth69r6akSSFqIJuA19TrzCIaY8sIoxyrNIrL//pw7A2iMygkX5vDj+G+kuoLdX4GlGK/8Lnlz6/h9MpmoO9rafrz7ILXEHHaAx95s9lsI7AHNMBWEZHULnfAXwG9/ZqdzLI08iuwRloXE8kfhXYAvE23+23DU3t626rbs8/8adv+9DWknsHp3E17oCf+Z48rvEQNZ78paYM38qfk3v/u3l3u3GXN2Dmvmvpf1Srwk3pB/VSsp512bA/GG5i2WJ7wu430yQ5K3nFGiOqgtmSB5pJVSizwaacmUZzZhXLlZTq8qGGFY2YcSkqbth6aW1tRmlaCFs2016m5qn36SbJrqosG4uMV4aP2PHBmB3tjtmgN2izkGQyLWprekbIntJFing32a5rKWCN/SdSoga45EJykyQ7asZvHQ8PTm6cslIpwyeyjbVltNikc2HTR7YKh9LBl9DADC0U/jLcBZDKrMhUBfQBvXRzLtFtjU9eNHKin0x5InTqb8lNpfKv1s1xHzTXRqgKzek/mb7nB8RZTCDhGEX3kK/8Q75AmUM/eLkfA+0Hi908Kx4eNsMgudg5GLdRD7a84npi+YxNr5i5KIbW5izXas7cHXIMAau1OueZhfj+cOcP3P8MNIWLyYOBuxL6DRylJ4cAAAB4nGNgYoAALjDJyIAOWMCiTIxMLDmZedkABtIBygAAAA==) format('woff');
}
.mde-preview {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.6;
  word-wrap: break-word;
}
.mde-preview:before {
  display: table;
  content: "";
}
.mde-preview:after {
  display: table;
  clear: both;
  content: "";
}
.mde-preview a {
  background-color: transparent;
}
.mde-preview a:active,
.mde-preview a:hover {
  outline: 0;
}
.mde-preview strong {
  font-weight: bold;
  color: black;
}
.mde-preview em {
  color: black;
}
.mde-preview h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
.mde-preview img {
  border: 0;
}
.mde-preview hr {
  box-sizing: content-box;
  height: 0;
}
.mde-preview pre {
  overflow: auto;
}
.mde-preview code,
.mde-preview kbd,
.mde-preview pre {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
  font-size: 1em;
}
.mde-preview input {
  color: inherit;
  font: inherit;
  margin: 0;
}
.mde-preview html input[disabled] {
  cursor: default;
}
.mde-preview input {
  line-height: normal;
}
.mde-preview input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}
.mde-preview table {
  border-collapse: collapse;
  border-spacing: 0;
}
.mde-preview td,
.mde-preview th {
  padding: 0;
}
.mde-preview * {
  box-sizing: border-box;
}
.mde-preview input {
  font: 13px / 1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.mde-preview a {
  color: #4078c0;
  text-decoration: none;
}
.mde-preview a:hover,
.mde-preview a:active {
  text-decoration: underline;
}
.mde-preview hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ddd;
}
.mde-preview hr:before {
  display: table;
  content: "";
}
.mde-preview hr:after {
  display: table;
  clear: both;
  content: "";
}
.mde-preview h1,
.mde-preview h2,
.mde-preview h3,
.mde-preview h4,
.mde-preview h5,
.mde-preview h6 {
  margin-top: 0;
  padding-top: 15px;
  margin-bottom: 15px;
  line-height: 1.1;
}
.mde-preview h1 {
  font-size: 30px;
}
.mde-preview h2 {
  font-size: 21px;
}
.mde-preview h3 {
  font-size: 16px;
}
.mde-preview h4 {
  font-size: 14px;
}
.mde-preview h5 {
  font-size: 12px;
}
.mde-preview h6 {
  font-size: 11px;
}
.mde-preview blockquote {
  margin: 0;
}
.mde-preview ul,
.mde-preview ol {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.mde-preview ol ol,
.mde-preview ul ol {
  list-style-type: lower-roman;
}
.mde-preview ul ul ol,
.mde-preview ul ol ol,
.mde-preview ol ul ol,
.mde-preview ol ol ol {
  list-style-type: lower-alpha;
}
.mde-preview dd {
  margin-left: 0;
}
.mde-preview code {
  font-size: 12px;
}
.mde-preview pre {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
}
.mde-preview .select::-ms-expand {
  opacity: 0;
}
.mde-preview .octicon {
  font: normal normal normal 16px/1 octicons-anchor;
  display: inline-block;
  text-decoration: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.mde-preview .octicon-link:before {
  content: '\f05c';
}
.mde-preview .mde-preview > *:first-child {
  margin-top: 0 !important;
}
.mde-preview .mde-preview > *:last-child {
  margin-bottom: 0 !important;
}
.mde-preview a:not([href]) {
  color: inherit;
  text-decoration: none;
}
.mde-preview .anchor {
  display: inline-block;
  padding-right: 2px;
  margin-left: -18px;
}
.mde-preview .anchor:focus {
  outline: none;
}
.mde-preview h1 .octicon-link,
.mde-preview h2 .octicon-link,
.mde-preview h3 .octicon-link,
.mde-preview h4 .octicon-link,
.mde-preview h5 .octicon-link,
.mde-preview h6 .octicon-link {
  color: #000;
  vertical-align: middle;
  visibility: hidden;
}
.mde-preview h1:hover .anchor,
.mde-preview h2:hover .anchor,
.mde-preview h3:hover .anchor,
.mde-preview h4:hover .anchor,
.mde-preview h5:hover .anchor,
.mde-preview h6:hover .anchor {
  text-decoration: none;
}
.mde-preview h1:hover .anchor .octicon-link,
.mde-preview h2:hover .anchor .octicon-link,
.mde-preview h3:hover .anchor .octicon-link,
.mde-preview h4:hover .anchor .octicon-link,
.mde-preview h5:hover .anchor .octicon-link,
.mde-preview h6:hover .anchor .octicon-link {
  visibility: visible;
}
.mde-preview h1 {
  padding-bottom: 0.3em;
  font-size: 2.25em;
  line-height: 1.2;
  border-bottom: 1px solid #eee;
}
.mde-preview h1 .anchor {
  line-height: 1;
}
.mde-preview h2 {
  padding-bottom: 0.3em;
  font-size: 1.75em;
  line-height: 1.225;
  border-bottom: 1px solid #eee;
}
.mde-preview h2 .anchor {
  line-height: 1;
}
.mde-preview h3 {
  font-size: 1.5em;
  line-height: 1.43;
}
.mde-preview h3 .anchor {
  line-height: 1.2;
}
.mde-preview h4 {
  font-size: 1.25em;
}
.mde-preview h4 .anchor {
  line-height: 1.2;
}
.mde-preview h5 {
  font-size: 1em;
}
.mde-preview h5 .anchor {
  line-height: 1.1;
}
.mde-preview h6 {
  font-size: 1em;
  color: #777;
}
.mde-preview h6 .anchor {
  line-height: 1.1;
}
.mde-preview p,
.mde-preview blockquote,
.mde-preview ul,
.mde-preview ol,
.mde-preview dl,
.mde-preview table,
.mde-preview pre {
  margin-top: 0;
  margin-bottom: 16px;
}
.mde-preview hr {
  height: 4px;
  padding: 0;
  margin: 16px 0;
  background-color: #e7e7e7;
  border: 0 none;
}
.mde-preview ul,
.mde-preview ol {
  padding-left: 2em;
}
.mde-preview ul ul,
.mde-preview ul ol,
.mde-preview ol ol,
.mde-preview ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
.mde-preview li > p {
  margin: 0;
}
.mde-preview dl {
  padding: 0;
}
.mde-preview dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
}
.mde-preview dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}
.mde-preview blockquote {
  padding: 0 15px;
  color: #777;
  border-left: 4px solid #ddd;
}
.mde-preview blockquote > :first-child {
  margin-top: 0;
}
.mde-preview blockquote > :last-child {
  margin-bottom: 0;
}
.mde-preview table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: keep-all;
}
.mde-preview table th {
  font-weight: bold;
}
.mde-preview table th,
.mde-preview table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}
.mde-preview table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}
.mde-preview table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
.mde-preview img {
  max-width: 100%;
  box-sizing: content-box;
  background-color: #fff;
}
.mde-preview code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 3px;
}
.mde-preview code:before,
.mde-preview code:after {
  letter-spacing: -0.2em;
  content: "\00a0";
}
.mde-preview pre > code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}
.mde-preview pre {
  padding: 16px;
  overflow: auto;
  word-wrap: normal;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f7f7;
  border-radius: 3px;
}
.mde-preview pre code {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}
.mde-preview pre code:before,
.mde-preview pre code:after {
  content: normal;
}
.mde-preview kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
}
.mde-preview .cm-header {
  color: blue;
}
.mde-preview .cm-quote {
  color: #090;
  font-style: italic;
}
.mde-preview .cm-negative {
  color: #d44;
}
.mde-preview .cm-positive {
  color: #292;
}
.mde-preview .cm-header,
.mde-preview .cm-strong {
  font-weight: bold;
}
.mde-preview .cm-em {
  font-style: italic;
}
.mde-preview .cm-link {
  text-decoration: underline;
}
.mde-preview .cm-strikethrough {
  text-decoration: line-through;
}
.mde-preview .cm-keyword {
  color: #333;
  font-weight: bold;
}
.mde-preview .cm-atom {
  color: #219;
}
.mde-preview .cm-number {
  color: #164;
}
.mde-preview .cm-def {
  color: #00f;
}
.mde-preview .cm-property {
  color: #00c;
}
.mde-preview .cm-operator {
  color: #708;
}
.mde-preview .cm-variable-2 {
  color: #05a;
}
.mde-preview .cm-variable-3,
.mde-preview .cm-s-default .cm-type {
  color: #085;
}
.mde-preview .cm-comment {
  color: #a50;
  font-style: italic;
}
.mde-preview .cm-string {
  color: #a11;
}
.mde-preview .cm-string-2 {
  color: #f50;
}
.mde-preview .cm-meta {
  color: #555;
}
.mde-preview .cm-qualifier {
  color: #555;
}
.mde-preview .cm-builtin {
  color: #30a;
}
.mde-preview .cm-bracket {
  color: #997;
}
.mde-preview .cm-tag {
  color: #170;
}
.mde-preview .cm-attribute {
  color: #00c;
}
.mde-preview .cm-hr {
  color: #999;
}
.mde-preview .cm-link {
  color: #00c;
}
.mde-preview .cm-error {
  color: #f00;
}
.mde-preview kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 10px;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
}
.mde-preview .task-list-item {
  list-style-type: none;
}
.mde-preview .task-list-item + .task-list-item {
  margin-top: 0px;
}
.mde-preview .task-list-item input {
  /* margin: 0 0.35em 0.25em -1.6em; */
  vertical-align: middle;
}
.mde-preview :checked + .radio-label {
  z-index: 1;
  position: relative;
  border-color: #4078c0;
}
@media print {
  .mde-preview table {
    overflow: hidden;
    word-break: break-word;
  }
  .mde-preview pre > code {
    word-wrap: break-word;
    white-space: pre-wrap;
  }
}
