@layer base {
  :where(:root, :host) {
    --task-progress-view-border-color: hsl(var(--hsl-gray-950) / 30%);
    --task-progress-view-background-color: hsl(var(--hsl-gray-950) / 30%);
    --task-progress-view-foreground-color: hsl(var(--hsl-white) / 60%);
    --task-progress-view-completed-color: hsl(var(--hsl-green-500));
  }
}
